/* Basscss Align */

.align-baseline {
  vertical-align: baseline;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.text-left{
text-align: left;
}
.align-self{
    align-self: center;
}
.ml-2{
  margin-left: 10px;
}
.mr-1{
  margin-right: 10px;
}